@use 'reset';
@use 'vars';
@import "bootstrap/scss/bootstrap";


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

h1 {
  font-family: 'Lucida grande', sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Copperplate', sans-serif;
}

p, div, a, span, li, input, button {
  font-family: 'Montserrat', sans-serif;
}



// mobile first

// tablet
//@media screen and (min-width: v.$minTabletBreakpoint) and (max-width: v.$maxTabletBreakpoint) {}

// desktop
//@media screen and (min-width: v.$minDesktopBreakpoint) and (max-width: v.$maxDesktopBreakpoint) {}

// large desktop
//@media screen and (min-width: v.$minLargeDesktopBreakpoint) {}