.intro {
    box-sizing: border-box;
    
        &__container {
            border-radius: 5px;
                }

        &__imghello {
            display: flex;
            justify-content: space-around;

            @media (min-width: 1024px) {
                display: flex;
                justify-content: space-around;
                height: 100px;       
            }
        }

        &__title {
            font-size: 2.5em;
            font-weight: bold;
            writing-mode: vertical-rl;
            padding: 0 1rem 0 2.5rem;
            color: #bdb026;

            @media (min-width: 1024px) {
                font-size: 3.5em;
                font-weight: bold;
                writing-mode: horizontal-tb;
                padding: 0;
                color: #bdb026;
            }

            &__open {
                 display: none;
            }
           }


        &__image {
            width: 80%;
            margin: 0 15%;
            border-radius: 5px;
            transition: 2s;
            max-width: 300px;

            @media (min-width: 1024px) {
                width: 100%;
                margin: 0;
                border-radius: 5px;
                transition: 2s;
                max-width: 350px;
              }

            &__open {
                width: 31%;
                border-radius: 50%;
                transition: 2s;
                float: right;
                margin: 0 0 0 2.3rem;
                shape-outside: circle(50%);
                transform: translateY(-25px);
                
                @media (min-width: 1024px) {
                    width: 30%;
                    border-radius: 50%;
                    transition: 2s;
                    float: right;
                    margin: 0 0 0 .6rem;
                    shape-outside: circle(50%);
                    transform: translateY(0px);
                    
                  }
            }              
        }
        &__image:hover {
            opacity: 0.5;
        }

        &__about {
            font-size: 1.2em;
            font-weight: bold;
            text-align: right;
            margin-right: 1.5rem;
            color: #494949;
            transform: translateY(-140%);
            animation: flicker-1 5s linear infinite both;
            
            &__open {
                display: none;
            }
        }

        &__text {
            display: none;
            &__open {
                font-size: .9em;
                margin: 1rem;
                padding: 1rem;
                text-align: justify;
                background-color: #ffffff5f;
                box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3); 
                -webkit-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3); 
                -moz-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3); 
                
                @media (min-width: 1024px) {
                    font-size: 1.1em;
                    margin: 1rem;
                    padding: 6rem 1rem;
                    text-align: justify;
                    background-color: #ffffff5f;
                    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3); 
                        -webkit-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3); 
                        -moz-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3); 
                    width: 60%;
                    
                  }
            }
            &__back {
                display: none;

                &__open {
                    float: right;
                    padding: .8rem 1.3rem;
                    display: block;
                    background-color: #bdb026;
                    border: none;
                    color: white;
                    font-weight: bold;
                    border-radius: 5px;
                    margin: 4rem 1rem 0 1rem;

                    @media (min-width: 1024px) {
                        padding: .8rem 1.3rem;
                        display: block;
                        background-color: #bdb026;
                        border: none;
                        color: white;
                        font-weight: bold;
                        border-radius: 5px;
                        margin: 4rem 1rem 0 1rem;
                        float: left;
                        position: absolute;
                        top: 60%;
                        left: 41%;
                    }
                }
            }
        }

        &__meta {
            text-align: right;
            font-size: .8em;
            font-weight: bold;
            margin: 0 1rem; 
            padding: 1rem;
            width: 55%;
            float: right;
            background-color: #ffffffa4;
                box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3); 
                -webkit-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3); 
                -moz-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3); 
            border-radius: 5px;

            @media (min-width: 1024px) {
                text-align: left;
                font-size: 1.1em;
                font-weight: bold;
                //margin: 0 1rem; 
                //padding: 1rem;
                float: left;
                background-color: #ffffffa4;
                    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3); 
                    -webkit-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3); 
                    -moz-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3); 
                border-radius: 5px;
                width: 42%;
                margin-top: 2rem;
                line-height: 2em;              
            }

            &__open {
                display: none;
            }
        }
        
        &__cv {
            &__button {
                padding: .8rem 1.3rem;
                display: block;
                background-color: #bdb026;
                border: none;
                color: white;
                font-weight: bold;
                border-radius: 5px;
                margin: 4rem 1rem 0 1rem;

                @media (min-width: 1024px) {
                    padding: .8rem 1.3rem;
                    display: block;
                    background-color: #bdb026;
                    border: none;
                    color: white;
                    font-weight: bold;
                    border-radius: 5px;
                    margin: 4rem 1rem 0 1rem;
                    float: left;
                    position: absolute;
                    top: 60%;
                    left: 28%;
                }

                &__open{
                    display: none;
                }

                
            }
            &__cvopen {
                width: 95%;
                left: 2%;
                position: absolute;
                top: 7%;
                max-width: 500px;

                @media (min-width: 1024px) {
                    width: 95%;
                    left: 20%;
                    position: absolute;
                    top: 4%;
                    max-width: 900px;
                    }
                
            }
            &__close {
                display: none;
            }

            &__closebutton {
                display: none;

                &__open {
                    display: block;
                    margin: 0 auto;
                    background-color: #bdb026;
                    color: white;
                    font-size: 1.2em;
                    font-weight: bold;
                    padding: .5rem;
                    border: none;
                    position: absolute;
                    bottom: 6%;
                    right: 20px;
                }
            }

            &__dlbutton {
                display: none;

                &__open {
                    display: block;
                    margin: 0 auto;
                    background-color: #bdb026;
                    color: white;
                    font-size: 1.2em;
                    font-weight: bold;
                    padding: .5rem;
                    border: none;
                    position: absolute;
                    bottom: 6%;
                    right: 75px;
                }
            }
                }
}

/* Animations des lettres */
div span {opacity:0;}
.letter01 {animation:letters 3s ease 2000ms forwards;}
.letter02 {animation:letters 3s ease 2500ms forwards;}
.letter03 {animation:letters 3s ease 3000ms forwards;}
.letter04 {animation:letters 3s ease 3500ms forwards;}
.letter05 {animation:letters 3s ease 4000ms forwards;}
.letter07 {animation:letters 3s ease 4500ms forwards;}
.letter08 {animation:letters 3s ease 5000ms forwards;}
.letter09 {animation:letters 3s ease 5500ms forwards;}
.letter10 {animation:letters 3s ease 6000ms forwards;}
.letter11 {animation:letters 3s ease 6500ms forwards;}

@keyframes letters {
	0% {opacity:0;}
	100% {opacity:1.0;}
}

@keyframes flicker-1 {
    0%,
    100% {
      opacity: 1;
      color: #bdb026;
    }
    41.99% {
      opacity: 1;
      color: #494949;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    47.99% {
      opacity: 1;
    }
    48% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    49.01% {
      opacity: 1;
    }
  }