.intro {
    box-sizing: border-box;


        &__container {
            border-radius: 5px;
                }

        &__imghello {
            display: flex;
            justify-content: space-around;
        }

        &__title {
            font-size: 2.5em;
            writing-mode: vertical-rl;
            padding: 0 1rem 0 2.5rem;
            color: white;

            &__open {
                 display: none;
            }
           }

        &__image {
            width: 95%;
            margin: 0 1rem;
            border-radius: 5px;
            transition: 2s;
            float: right;
            //max-width: 300px;

            &__open {
                width: 30%;
                border-radius: 50%;
                transition: 2s;
                float: right;
                margin: 1rem;
                shape-outside: circle(50%);
                //max-width: 200px;
            }              
        }

        &__image:hover {
            opacity: 0.5;
        }
        &__image:hover + .intro__aboutme {
            position: absolute;
            top: 80%;
            //left: 30%;
            visibility: visible;
            font-size: 30px;
            font-weight: bold;
            text-align: right;
            color: white;
        }

        &__imgoverlay{
            position: relative;
        }

        &__aboutme {
            visibility: hidden;
        }
       

        &__textanimation {
            font-size: 1.6em;
            display: flex;
            color: white;
            padding: 0 1rem;
        }

        &__text {
            display: none;
            &__open {
                padding: 1rem;
                text-align: justify;
                
            }
        }   
}



