.field {
    margin-bottom: 1rem;
   
    &__input {
        height: 2.3rem;
        background-color: #bdb026b0;
        border: none; 
        padding: .5rem;
        font-size: 1em;
        font-weight: bold;

    }
}