@use '../../styles/vars' as v;


.stack {
    &__logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
}


// mobile first

// tablet
@media screen and (min-width: v.$minTabletBreakpoint) and (max-width: v.$maxTabletBreakpoint) {
    
}

// desktop
@media screen and (min-width: v.$minDesktopBreakpoint) and (max-width: v.$maxDesktopBreakpoint) {
    
}

// large desktop
@media screen and (min-width: v.$minLargeDesktopBreakpoint) {
    
}
